/* Acá van tus estilos */
#box{	
	width: 100%;
	height: 20vh;
	position: static;
}

/*versión desktop*/
.row-a{
	display: inline-block;
	width: 100%;
}

#box-1{
	;
	width: 30%;	
	height: 100vh;	
	display: inline-block;
	position: static;			
}

#box-2{
	
	width: 75%;	
	height: 100vh;
	display: inline-block;
	float: right;					
}

/*versión mobile*/

.row-b{
	display: block;
	
}

#box-4{
	
	width: 100%;	
	height: 100vh;	
	display: block;				
}

#box-5{
	
	width: 100%;	
	height: 100vh;
	display: block;	
}


#box-3{
	
	width: 100%;
	height: 40vh;
	position: static;
}

@media (max-width: 768px){
	.row-a{
		visibility: hidden;
	}
	.row-b{
		visibility: visible;
	}
}

@media (min-width: 769px){
	.row-a{
		visibility: visible;
	}
	.row-b{
		visibility: hidden;
	}
}

/* menu lateral por marion*/
 .cuerpo{
 	background-color: #EDEDED; 
 }
 
 #box-1{
 	background-color: white;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 3%;
 
 }
 
.img-circle{
	margin-top: 5%;
}

#portugal{
	color: grey;
}

#name{
	font-weight: bold;
}

#hire{
	background-color: #2BD352;
	color: white;
	font-weight: bold;
}