/* Acá van tus estilos */
*{	
	font-family: 'Roboto', sans-serif;
}


/* menu principal */
.cuerpo{
	background-color: #EDEDED;
}

nav.navbar.navbar-default{
	width: 100%;
    height: 56px;
    background: rgba(47,47,47,0.98);
    z-index: 9996;
}

.lupa{
	position: relative;
	right: -20px;

}

.lupita{
	position: relative;
	right: -23px;
	bottom: -32px;

}

.barra-negra{
	width: 100%;
    height: 56px;
    background: #333;
    background: rgba(47,47,47,0.98);
    z-index: 9996;
}

.barra{
	background-color: white;
	color:white;
	border:none;
}

.hamburguesa{
	padding-left: 10px;
}

.barra-dentro{
	padding: 4px 15px 30px;
}
.logo{
	color:white;
}
.nav>li>a {
    display: block;
    height: 56px;
    padding: 0 10px;
    line-height: 56px;
    text-decoration: none;
    color: #999;
}
/*parte lateral y api*/

#box{	
	width: 100%;
	height: 20vh;
	position: static;
}

/*versión desktop*/
.row-a{
	display: inline-block;
	width: 100%;
}

#box-1{
	;
	width: 30%;	
	height: 100vh;	
	display: inline-block;
	position: static;			
}

#box-2{
	
	width: 75%;	
	height: 100vh;
	display: inline-block;
	float: right;					
}

/*versión mobile*/

.row-b{
	display: block;
	
}

#box-4{
	
	width: 100%;	
	height: 100vh;	
	display: block;				
}

#box-5{
	
	width: 100%;	
	height: 100vh;
	display: block;	
}


#box-3{
	
	width: 100%;
	height: 40vh;
	position: static;
}

@media (max-width: 768px){
	.row-a{
		visibility: hidden;
	}
	.row-b{
		visibility: visible;
	}
}

@media (min-width: 769px){
	.row-a{
		visibility: visible;
	}
	.row-b{
		visibility: hidden;
	}
}

/* menu lateral por marion*/
 .cuerpo{
 	background-color: #EDEDED; 
 }
 
 #box-1{
 	background-color: white;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 3%;
 
 }
 
.img-circle{
	margin-top: 5%;
}

#portugal{
	color: grey;
}

#name{
	font-weight: bold;
}

#hire{
	background-color: #2BD352;
	color: white;
	font-weight: bold;
}


#gris{
	background-color: #D0D1D1;
}

#gris2{
	background-color: #D0D1D1;
	color: #A2A3A3;
}

#linea{
	border-bottom: 1px solid grey;
	border-top: 1px solid #EDEDED;
}


#skills{
	color: #A2A3A3;
	font-weight: bold;

}
li{
	list-style: none;
}


#red{
	color: #A2A3A3;
}